 <% if @address.errors.any? %>
     <%= @address.errors.count %> 件のエラーが発生しました
       <% @address.errors.full_messages.each do |message| %>
         <ul>
           <li><%= message %></li>
         </ul>
     <% end %>
  <% end %>