// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 会員詳細画面(show)

.customer-show-th {
  width: 150px;
  padding-bottom: 15px;
}

.customew-show-td {
  width: 500px;
  padding-bottom: 15px;
}

// 会員情報編集(edit)画面

.admin-customer-edit-table {
  margin-bottom: 15px;
}

.admin-customer-edit-th {
  width: 150px;
}

