// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show画面
.admin-orders-show-table {
  margin-bottom: 15px;
}

.admin-orders-show-th {
  width: 150px;
}

.admin-orders-show-th2 {
  width: 100px;
}