＊ {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.guide {
  margin-top: 15px;
  background-color: #f2f2f2;
}

.box {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 5px;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.guide-text {
  margin-top: 15px;
}

.sign-up-actions {
  margin-top: 15px;
}

/*以下publicのsign_up画面*/
.label-title {
  display: inline-block;
  width: 200px;
}



.session-guide {
  padding-bottom: 50px;
}